* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.stem {
  position: absolute;
  width: 30px; 
  height: 310px; 
  background-color: brown; 
  bottom: -50px;
  z-index: -1; 
}

.daisy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  position: absolute;
  width: 190px;
  height: 190px;
  background-color: yellow;
  border-radius: 100px;
}

.leafs {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 60px;
}

.leaf {
  position: absolute;
  opacity: 0;
  width: 85px;
  height: 120px;
  background-color: white;
  border-radius: 50% 50% 50% 50%;
  transform-origin: bottom center;
  display: flex;
  gap: 10px;
  animation: showLeaf 0.5s ease-out forwards;
}
.leaf:nth-child(1) {
  transform: rotate(0deg) translateY(-80px);
  animation-delay: 0s;
}
.leaf:nth-child(2) {
  transform: rotate(30deg) translateY(-80px);
  animation-delay: 0.2s;
}
.leaf:nth-child(3) {
  transform: rotate(60deg) translateY(-80px);
  animation-delay: 0.4s;
}
.leaf:nth-child(4) {
  transform: rotate(90deg) translateY(-80px);
  animation-delay: 0.6s;
}
.leaf:nth-child(5) {
  transform: rotate(120deg) translateY(-80px);
  animation-delay: 0.8s;
}
.leaf:nth-child(6) {
  transform: rotate(150deg) translateY(-80px);
  animation-delay: 1s;
}
.leaf:nth-child(7) {
  transform: rotate(180deg) translateY(-80px);
  animation-delay: 1.2s;
}
.leaf:nth-child(8) {
  transform: rotate(210deg) translateY(-80px);
  animation-delay: 1.4s;
}
.leaf:nth-child(9) {
  transform: rotate(240deg) translateY(-80px);
  animation-delay: 1.6s;
}
.leaf:nth-child(10) {
  transform: rotate(270deg) translateY(-80px);
  animation-delay: 1.8s;
}
.leaf:nth-child(11) {
  transform: rotate(300deg) translateY(-80px);
  animation-delay: 2s;
}
.leaf:nth-child(12) {
  transform: rotate(330deg) translateY(-80px);
  animation-delay: 2.2s;
}

@keyframes showLeaf {
  to {
    opacity: 1;
  }
}
